@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './table.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
}

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
// 通用样式
.hover-hand {
  cursor: pointer;
}
//main-container全局样式
#app {
  // 主体区域
  .main-container {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 56px;
    bottom: 0px;
    transition: left 0.28s;
    padding: 0px 20px 0 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .app-main{
      margin-top: 20px;
      // background: #ffffff;
      position: relative;
      height: 100%;
    }
  }
}

//富文本编辑器
.quill-editor{
  width: 925px;//
}
.ql-editor{
  min-height: 300px;
}

