#app {
  .filter-container {
    margin-bottom: 20px;
  }
  .filter-item {
    display: inline-block;
    vertical-align: bottom;
    .el-cascader {
      width: 250px;
      height: 36px;
      line-height: 36px;
    }
    &.search {
      width: 200px;
    }
  }
  .el-switch {
    line-height: initial;
  }
  .el-pagination {
    text-align: right;
    margin-top: 20px;
  }
  .el-table--border th,
  .el-table--border td {
    border-color: #e2e2e2 !important;
  }
  .el-table__body tr.current-row > td,
  .el-table__body tr.hover-row > td {
    background-color: #fcf8f5;
  }
  .el-table {
    border-color: #e2e2e2 !important;
    color: #666;
    cursor: pointer;
    th {
      .cell {
        color: #333;
      }
    }
    .cell {
      a {
        &:hover {
          text-decoration: underline;
          color: #fd7922;
        }
      }
    }
    span.el-button.el-button--text {
      padding: 0;
    }
    tbody {
      .current-row {
        td {
          background: #2ea0ff;
          .cell {
            color: #fff !important;
            svg {
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}
body {
  .el-select-dropdown__item.hover,
  .el-select-dropdown__item:hover {
    background-color: #feefe6;
  }
  .el-cascader-menu__item:hover,
  .el-cascader-menu__item.is-active,
  .el-cascader-menu__item:focus:not(:active) {
    background-color: #feefe6;
  }
  .el-cascader-menu__item.is-active {
    font-weight: bold;
  }
  .el-select-dropdown,
  .el-cascader-menus {
    border-color: #ffd9c0;
  }
  .el-popper[x-placement^='bottom'] .popper__arrow,
  .el-cascader-menus .popper__arrow {
    border-bottom-color: #ffd9c0;
  }
}
