$menuBg: #ffffff; // sidebar 背景颜色
$subMenuBg: #ffffff; // sidebar 子菜单颜色
$headerBg: #ffffff;
$subMenuColor: #666666; // 字体颜色
$subMenuActColor: #fff; // 活动时字体颜色
$headerColor: #333;
$headerFontSize: 14px;
